/*  ITCSS 
    https://github.com/aarongarciah/itcss-sample 
    
    ITCSS "uses" specificity in ascending fashion.
    The more down we go the more specific we can be.
    classes are only allowed from 5 and up!
*/

/* 1 Settings (variables, breakpoints, colors, spacing, typography) */

:root {
  --radius: 0.66rem;

  --bg-radial: linear-gradient( 135deg, #6776b9 10%, rgb(103, 118, 185, 0.1) 10% 20%, rgb(103, 118, 185, 0) 20% 80%, rgb(103, 118, 185, 0.1) 80% 90%, #6776b9 90% );

  --text-color: #121416d8;
  --link-color: #53378e;

  --bg-color: #fff;
  --bg-secondary-color: #f3f3f6;

  --color-dark: #121416d8;
  --color-light: #f3f3f6;

  --color-primary: #14854f;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;

  --font-size: 1.6rem;
  --font-color: #333;
  --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
    "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

html[data-theme="dark"] {
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
  --color-bg: #f1f5f9;
  --color-dark-bg: #f1f5f9;
  --color-text: #94a3b8;
}

/* 2 Tools (animations, clearfix, hidden) */

@keyframes glowing {
  0% {
    background: linear-gradient(
      135deg,
      #a85ca6 20%,
      #ef8366 20% 40%,
      #fded5a 40% 60%,
      #53ba67 60% 80%,
      #02b5e0 80%
    );
  }

  50% {
    background: linear-gradient(
      135deg,
      #a85ca6 15%,
      #ef8366 15% 30%,
      #fded5a 30% 70%,
      #53ba67 70% 85%,
      #02b5e0 85%
    );
  }

  100% {
    background: linear-gradient(
      135deg,
      #a85ca6 10%,
      #ef8366 10% 20%,
      #fded5a 20% 80%,
      #53ba67 80% 90%,
      #02b5e0 90%
    );
  }
}

@keyframes glowingrainbow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
}



/* 3 Generic */

html {
  box-sizing: border-box;
  /*font-size: 62.5%;*/
  font-size: 16px;
  line-height: 1.15;
  text-size-adjust: 100%;
  background: radial-gradient(ellipse at center,rgba(0,0,0,.1) 0%,rgba(196,76,72,.1) 30%,#b7314670 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* 4 Elements (body, section, etc. everything native) */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: monospace;
}

body {
  background: var(--bg-radial);
  line-height: 1.6;
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: "Segoe UI", "Helvetica Neue", sans-serif; /* fallback */
  font-family: var(--font-family-sans);
}

main {
  display: block;
  min-width: 100%;
  height: 100%;
  overflow-y: scroll;
}

a, span, p, sub, label {
  color: var(--color-dark);
}

span {
  font-size: 1rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover:not(.button) {
  opacity: 0.75;
}

h2 {
  font-weight: 200;
}

sub {
  font-size: 1.25rem;
  font-weight: 300;
  display: flex;
  gap: 0.5rem;
  line-height: 1rem;
}

hr {
  border: none;
  background-color: transparent;
  height: 1px;
  margin: 1rem 0;
  box-shadow: #ffffff 0px 0px 128px 32px;
  margin-bottom: 0px;
}

img {
  max-height: 100%;
}

input {
  font-family: inherit;
  border-radius: var(--radius);
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  transition: all 0.2s ease;
  display: block;
  height: 40px;
  width: 100%;
  color: var(--color-light);
  background-color: var(--color-dark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type=checkbox] {
  max-height: 16px;
}


logger-radio {
  position: fixed;
  right: 2rem;
  top: -1.25rem;
}

logger-radio > div > sub{
  color: var(--color-light) !important;
}

sup {
  font-size: 1rem;
}

button-deposit {
  width: 100%;
}

/* 5 Objects (you are allowed to use classes from here on) 


*/


.flex {
  display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex-center,
.flex-left,
.flex-right {
  display: flex;
  flex: 1;
}

.flex-between {
    justify-content: space-between !important;
}

.flex-around {
    justify-content: space-around;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.pointer {
  cursor: pointer;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.disabled {
  pointer-events: none;
}

.text-light {
  color: var(--color-light)
}

.text-dark {
  color: var(--color-dark)
}

.text-big {
  font-size: 1.5rem;
}


/* 6 Components - (actual components, the meat, buttons etc.) */

.box {
  position: relative;
  display: block;
}

.container {
  max-width: 800px;
  padding: 0rem 2rem;
  display: block;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.stack {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0rem;
  width: 100%;
}

.nav {
  display: flex;
  min-height: 5rem;
  align-items: stretch;
}

.nav img {
  max-height: 7rem;
}

@media screen and (max-width: 720px) {
  .nav,
  .nav > .container {
    flex-direction: column;
  }

  .stack,
  .flex-center,
  .flex-left,
  .flex-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.icon {
  margin: 0.5rem 0rem;
  font-size: 2rem;
  line-height: 2rem;
}

.radio--icon {
  pointer-events: none;
  filter: grayscale();
}

.radio--icon--input {
  opacity: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 5rem;
  height: 5rem;
  position: absolute;
  pointer-events: all;
  cursor: pointer;
}

.radio--icon--selected {
  filter: none !important;
}

.radio--icon--selected--permanent {
  filter: none !important;
}

.img-icon {
  margin: 0 auto;
  height: 3rem;
  margin: 0rem 0.5rem;
}

.icon--large {
  height: 5rem;
}

.button {
  margin: 0rem 0rem;
  padding: 0.5rem 0.25rem;
  display: flex;
  width: 220px;
  height: 2.5rem;
  line-height: 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: var(--radius);
  font-size: 1rem;
}

.button--large {
  width: 100%;
  height: 6rem;
}

.button--large > span {
  font-size: 2rem;
  line-height: 5rem;
}

.button--icon > span {
  font-size: 6rem !important;
  line-height: 2rem !important;
}

#containerEmoji {
    left: 0px;
    top: -75px;
    z-index: -1000;
    width: 100%;
    height: calc(100vh);
    overflow: hidden;
    position: fixed;
    pointer-events: none;
}

#animateEmoji {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}


.button:before {
  content: "";
  background: linear-gradient(
    135deg,
    #a85ca6 20%,
    #ef8366 20% 40%,
    #fded5a 40% 60%,
    #53ba67 60% 80%,
    #02b5e0 80%
  );
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 100%;
  z-index: -1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  opacity: 0;
  border-radius: 10px;
}

.button:active {
  color: #000;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
  animation: glowing 0.2s forwards;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6776b9;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.openMenu {
  margin-top: 0.25rem;
}

.card {
  overflow: hidden;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  box-shadow: 0px 0px 1px 0px var(--color-darkGrey), 0 0 200px rgba(170, 170, 170, 0.50) inset;
}

.card p:last-child {
  margin: 0;
}

.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}

.logo {
  max-height: 128px;
}

.spin {
  animation: spin 16s linear infinite;
  line-height: 0rem;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 0.05rem solid #6776b9;
  border-bottom: 0.25rem solid rgba(0,0,0,0);
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

.spinner--hidden {
  display: none;
}

.heading-rainbow {
  font-size: 2rem;
}


.pill {
  height: 100%;
  background: rgba(103, 118, 185, 0.66);
  max-width: 10rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.vampire {
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.vampire--off {
  transform: none;
	animation: none;
  filter: grayscale();
}

/* 7 util - (IDs etc, here you can use !important and dirty hacks)*/


.force-center {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto !important;
}

.force-full-width {
  width: 100%;
}

rainbow {
  line-height: 0;
  font-weight: bold;
}

admin-section > .card {
  overflow: hidden;
}

.rainbow-bg {
  height: 100%;
  width: 200%;
  position: absolute;
  padding-top: 200%;
  z-index: -1000;
  left: -2rem;
  top: -2rem;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}


.text-rainbow {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}